body {
  background-color: #E8E4E2;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.header_text {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-size: 25px;
  font-weight: 100;
  text-align: left;
}

.content_text {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 100;
}

.home_body {
  text-align: center;
  padding-top: 200px;
  display: flex;
  justify-content: center;
}

.logo_container {
  float: left;
  max-height: 200px;
  line-height: 240px;
  padding: 20px 0;
  justify-content: center;
}

.right_content {
  float: left;
  max-height: 200px;
  padding: 20px 20px;
}

.socials_home {
  clear: left;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.home_heading {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  text-decoration: none;
  font-size: 160px;
}

.home_nav {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: black;
}

.home_nav_list {
  display: inline-block;
  list-style: none;
}

.home_nav_item {
  display: flex;
  font-size: 30px;
  margin-top: 25px;
}

/* Header */
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.heading_container {
  float: left;
}

.heading {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  text-decoration: none;
  font-size: 40px;
  padding: 30px;
}

.nav {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  color: black;
}

.nav_list {
  list-style: none;
  display: flex;
  float: right;
  padding: 10px;
}

.nav_item {
  font-size: 20px;
  width: auto;
  margin: 0 25px;
}

.socials {
  display: flex;
  justify-content: center;
  background-color: white;
}

.socials_construction {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.nav_icon {
  list-style: none;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 15px;
}

.nav_link {
  display: flex;
}

.nav_link:hover {
  color: #745B53;
}

.nav_icon_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.projects_container {
  display: flex;
  max-width: 1300px;
  max-height: 450px;
  justify-content: flex-start;
  overflow: hidden;
  margin: 60px auto;
  background-color: white;
  filter: drop-shadow(4px 4px 6px gray);
}

.projects_heading {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-weight: 100;
  font-size: 25px;
  margin-left: 30px;
}

.projects_description {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  font-size: 15px;
  margin-left: 30px;
}

.modern_townhouse_photo {
  max-width: 950px;
  object-fit: cover;
}

.house_sketch_photos {
  max-height: 400px;
}

.modern_house_photos {
  max-width: 950px;
  object-fit: cover;
}

.paper_tower_photos {
  max-width: 950px;
  object-position: 0 -350px;
  object-fit: contain;
}

.diagram_photos {
  max-height: 250px;
}

/* .concepts_container {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  margin-top: 60px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: white;
}

.concepts_heading_container {
  margin-right: 30px;
  margin-left: 30px;
  background-color: white;
}

.concepts_heading {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  font-size: 25px;
  margin-left: 40px;
} */

.paper_tower_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.paper_tower_final {
  float: left;
  margin: 0 30px;
  filter: drop-shadow(4px 4px 6px gray);
  height: 550px;
  border-radius: 25px;
  object-fit: cover;
}

.paper_tower_title {
  float: left;
  background-color: white;
  width: 450px;
  margin: 0 30px;
  padding: 20px 80px;
  filter: drop-shadow(4px 4px 6px gray);
}

.paper_tower_timeline_photos {
  float: left;
  margin: 0 30px;
  filter: drop-shadow(4px 4px 6px gray);
  height: 200px;
  border-radius: 25px;
  object-fit: cover;
}

/* Construction Page */
.construction {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  position: relative;
  font-weight: 100;
  margin-top: 60px;
  margin-bottom: 100px;
}

/* Inspiration Caption */
.inspiration_container {
  display: flex;
  max-width: 100%;
  margin-top: 50px;
  justify-content: center;
}

.inspiration_caption {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.inspiration_heading {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  font-size: 30px;
  margin-left: 60px;
}

.inspiration_description {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  font-size: 16px;
  margin-left: 60px;
}

/* Structural Complexity */
.structural_complexity_photos {
  max-height: 300px;
  margin: 0 2px;
}

/* Residential */
.residential_photos {
  max-height: 300px;
  margin: 0 2px;
}

/* Design Choice */
.design_choice_photos {
  width: 275px;
  margin: 0 2px;
}

/* Singapore */
.singapore_photos {
  max-height: 280px;
  margin: 0 2px;
}

/* New York */
.new_york_photos {
  width: 275px;
  margin: 0 2px;
}

/* About Page CSS */
.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.name_container {
  float: left;
  background-color: white;
  height: 400px;
  width: 600px;
  margin: 0 30px;
  padding: 20px 80px;
  filter: drop-shadow(4px 4px 6px gray);
}

.intro {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-size: 25px;
  font-weight: 100;
  text-align: left;
}

.name {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  color: black;
  font-size: 110px;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
}

.title {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: black;
  font-size: 25px;
  font-weight: 100;
  line-height: 35px;
  text-align: left;
}

.portrait {
  float: left;
  margin: 0 30px;
  filter: drop-shadow(4px 4px 6px gray);
  height: 440px;
  border-radius: 25px;
  object-fit: cover;
}

.USC {
  float: left;
  margin: 0 30px;
  filter: drop-shadow(4px 4px 6px gray);
  height: 440px;
  width: 440px;
  border-radius: 25px;
  object-fit: cover;
}

.subheading_container {
  background-color: white;
  width: 550px;
  margin: 0 60px;;
  padding: 20px 90px;
  filter: drop-shadow(4px 4px 6px gray);
}

.story_container {
  float: left;
  background-color: white;
  width: 650px;
  margin: 0 30px;
  padding: 25px 100px;
  filter: drop-shadow(4px 4px 6px gray);
}

.singapore {
  float: left;
  margin: 0 30px;
  height: 440px;
  border-radius: 25px;
  object-fit: cover;
  filter: drop-shadow(4px 4px 6px gray);
}

.goals_container {
  float: left;
  background-color: white;
  width: 650px;
  margin: 0 30px;
  padding: 20px 100px;
  filter: drop-shadow(4px 4px 6px gray);
}

@media(max-width: 768px) {
  .logo_container {
    float: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .right_content {
    float: none;
    display: flex;
  }

  .home_nav_item {
    font-size: 20px;
  }

  .header_container {
    flex-direction: column;
    justify-content: center;
  }

  .heading {
    text-align: center;
    font-size: 40px;
  }

  .nav {
    justify-content: center;
  }

  .nav_item {
    font-size: 20px;
  }

  .projects_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
  }

  .modern_townhouse_photo {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .house_sketch_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .modern_house_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .paper_tower_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .diagram_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 2px 2px;
  }

  .projects_heading_container {
    justify-content: center;
  }

  .projects_heading {
    text-align: left;
    margin: 10px 0;
    margin-left: 10px;
  }

  .projects_description {
    margin-left: 10px;
  }

  .inspiration_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .inspiration_heading {
    text-align: left;
    margin: 10px 0;
    margin-left: 10px;
  }

  .inspiration_description {
    margin-left: 10px;
  }

  /* Structural Complexity */
  .structural_complexity_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 2px 10px;
  }

  /* Residential */
  .residential_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 2px 10px;
  }

  /* Design Choice */
  .design_choice_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 2px 10px;
  }

  /* Singapore */
  .singapore_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 2px 10px;
  }

  /* New York */
  .new_york_photos {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 2px 10px;
  }

  .name_container {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
  }

  .name {
    line-height: 0;
  }

  .photo {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
  }
}